extends layout 
include _includes/sharedHTMLfunctions
block content
    .row.banner 
        .col-12 
            h1= pageHeader.title 
                small &nbsp;#{pageHeader.strapline} 
    .row 
        .col-12.col-md-8
            .error= message

            app-home-list

            //each location in locations
                .card 
                    .card-block
                        h4 
                            a(href=`/location/${location._id}`)= location.name
                            +outputRating(location.rating)
                            span.badge.badge-pill.badge-default.float-right= location.distance
                        p.address= location.address
                        .facilities
                            each facility in location.facilities
                                span.badge.badge-warning= facility //

        .col-12.col-md-4
            p.lead= sidebar
block scripts 
  scripts(src='/build/main.46ac7bd3506f5212a8d7.js')
  scripts(src='/build/polyfills.8bfbc28d9f0dc7b1160a.js')
  scripts(src='/build/runtime.6e180c01398a4bc1fc33.js')